<div class="h-100 bg-light">
  <form
    class="d-flex justify-content-center align-items-center h-100"
    (submit)="onSubmit()"
  >
    <mat-card class="w-50 px-4 loginBox">
      <mat-card-header class="m-auto">
        <h2>Login</h2>
      </mat-card-header>

      <mat-card-content class="m-auto">
        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input
            matInput
            placeholder="Enter name"
            name="name"
            maxlength="15"
            [(ngModel)]="name"
            value="{{ name | lowercase }}"
          />
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions class="my-2 mb-3">
        <button
          type="submit"
          mat-raised-button
          color="primary"
          class="w-100 me-2"
        >
          Continue
        </button>
        <button (click)="onCancel()" mat-raised-button class="w-100 ms-2">
          Cancel
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
